*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}

#root{
	display: flex;
	justify-content: center;
}

#container{
	/*background: pink;*/
	width: 100%;
	max-width: 1360px;
	padding: 50px 150px 0;
}

/*--------------------------------------*/

div.homeButton{
	/*background-color: yellow;*/
	margin-bottom: 5rem;
	display: flex;
	justify-content: flex-start;
}

div.homeButton div{
	background-color: black;
	width: 40px;
	height: 40px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.homeButton div::before{
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}

div.homeButton a{
	text-decoration: none;
	color: white;
	font-size: 1rem;
}

p#titleBlog{
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

p#titleBlogChild{
	font-size: 1rem;
	margin-bottom: 3rem;
}

p#titleBlogChild a{
	text-decoration: none;
	color: #2C5FF2;
}

p#titleBlogChild a:hover{
	text-decoration: underline;
}

p#titleBlogChild a img{
	height: 1rem;
}

p.heading{
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

p.subtext{
	font-size: 1rem;
	margin-bottom: 1rem;
}

div.imageText img{
	width: 100%;
	margin: 1.5rem 0 3rem;
	border: 2px solid #EEEEEE;
}

div.imageText img.smallImage{
	width: 50%;
	margin: 1.5rem 0 3rem;
	border: 2px solid #EEEEEE;
}

div#bodyWrapper{
	/*background: red;*/
	padding: 100px 200px 0;
}

div#mainBody{
	/*background: green;*/
	padding: 0 100px;
	max-width: 960px;
	margin: auto!important;
}

div.nextButton{
	/*background-color: yellow;*/
	margin-top: 3rem;
	margin-bottom: 3rem;
	display: flex;
	justify-content: space-between;
}

div.nextButton#backButton{
	justify-content: flex-start;
}

div.nextButton#bothButton{
	justify-content: space-between;
}

div.nextButton div{
	background-color: black;
	width: 75px;
	height: 40px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.nextButton div::before{
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}

div.nextButton a{
	text-decoration: none;
	color: white;
	font-size: 1rem;
}

/*--------------------------------------*/

@media only screen and (max-width: 768px) {
	#container{
		padding: 50px 100px 0;
	}
} 

@media only screen and (max-width: 600px) {
	#container{
		padding: 1rem 2rem;
	}
	div.homeButton{
		margin-bottom: 3rem;
	}
	p.subtext{
		margin-bottom: 2rem;
		line-height: 20px;
	}
}

@media only screen and (max-width: 320px) {
	#container{
		padding: 1rem 1rem;
	}
} 